---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';
import Intro from '../../components/Intro.astro';
import About from '../../components/About.astro';
import Diagnostics from '../../components/Diagnostics.astro';
import Clinics from '../../components/Clinics.astro';
import Ecosystem from '../../components/Ecosystem.astro';
import CTA from '../../components/CTA.astro';
import Footer from '../../components/Footer.astro';
import BookingModal from '../../components/BookingModal.astro';
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title={t('hero.title')}>
  <Header />
  <main>
    <Hero />
    <Intro />
    <About />
    <Diagnostics />
    <Clinics />
    <Ecosystem />
    <CTA />
  </main>
  <Footer />
  <BookingModal />
</Layout>
